.card-header {
    background-image: url("images/fish-background.jpg");    
    background-size: 50%;
}
.nav-link{
    color: white;
}
#full-background {
    background-image: url("images/fish-background.jpg");    
    background-size: 50%;
}
